<footer class="footer">
  <div class="footer-container">

    <div class="footer-social">
      <a href="https://www.instagram.com/_harish_prabhakaran_/"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/HARISH-1316">
        <i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/harish-prabhakaran-/"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Contact</a>
    </div>

    <div class="footer-bottom">
      © 2026 Harish. All rights reserved.
    </div>

  </div>
</footer>