.card {
  max-width: 700px; /* normal size */
  width: 100%; /* responsive */
}

.container {
  min-height: 55vh;
  display: flex; /* 🔥 required */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
}

.btn-danger {
  background-color: #ff3434 !important;
  border: none;
}
.btn-danger:hover {
  background-color: #e83737 !important;
}

/* Font */
body {
  color: #222;
  padding: 20px;
  background-color: #f8f8f8;
}
